@media { 
    header {
        display: none;
    }

    body {
        background: none;
    }

    footer {
        display: none;
    }
	
	section {
		border: 0;
	}
	.stick {
		box-shadow: none;
		border: 1px solid black;
	}
	
	button {
		display: none;
	}

    h4 { page-break-inside: avoid; } 

    p { orphans: 3; }

    @page :first { 
        margin: 1cm 1cm 1cm 1.5cm; 
    }

    @page :left { 
        margin: 1cm 1cm 1cm 1.5cm; 
    }
}