body {
	display: grid;
	grid-template-columns: repeat(3, 1fr); 
  	grid-template-rows: 150px 1fr 50px; 
	grid-column-gap: 40px; 
	
}

header {
	grid-column: 1 / 4;
	display: grid;
   	grid-template-columns: 1fr 1fr;
}

.logo {
	height: 70px;
}

h2 {
	display: inline-block;
}

input {
	height: 35px;
	border-radius: 5px;
	border: 1px solid black;
}

button {
	border: 1px solid black;
	background: white;
	padding: 10px;
	height: 35px;
	border-radius: 5px;
	color: black;
}

section {
	border: 1px dashed grey;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	text-align: center;
	font-size: 36px;
}

.stick {
	width: 15vw;
	height: 15vw;
	background-color: #fffe91;
	margin: 20px auto;
	border: 1px solid black;
	padding: 1vw;
	position: relative;
}

h4, p {
	margin: 0;
	font-size: 2vw;
}



.edit, .delete {
	width: 4vw;
	height: 4vw;
	border-radius: 2vw;
	position: absolute;
	padding: 0;
}

.edit {
	top: 12vw;
	right: 8vw;
}
.edit img {
	width: 1vw;
}

.delete img {
	width: 1vw;
}

.delete {
	top: 12vw;
	right: 1vw;
}

footer {
	grid-column: 1 / 4;
}